.form-group {
  margin-bottom: 20px;
}
.d-1 {
  background: #0000ffc2;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}
.d-2 {
  color: wheat;
  font-size: 45px;
  font-weight: 600;
  font-family: math;
}
